setuptools>=65.0.0
wheel>=0.38.0
Flask==3.0.0
sgp4==2.23
skyfield==1.48
numpy==1.26.4
matplotlib==3.8.4
cartopy==0.23.0
shapely==2.0.4
pyproj==3.6.1
Werkzeug==3.0.3
Pillow>=10.0.0
Cython>=3.0.0